@import "bootstrap/mixins";

$font-sans-serif: "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
	color: #333;
}
h1, h2, h3, h4, h5,
h1 a, h2 a, h3 a, h4 a, h5 a {
	font-family: $font-sans-serif;
    color: $cfa-pink;
    //font-size: 2em;
	font-weight: 400;
}

h4 {
	margin-top: 1.5em;
}

a {
	color: $cfa-blue;
	text-decoration: none;
}

ul, ol {
	list-style-position: inside;
}
li {
	h3 {
		color: $cfa-pink;
	}
}

iframe {
	max-width: 100%;
}

.btn,
.btn-lg {
	margin-bottom: 0.5em;
	border-radius: 0;
}

.cover {
	.btn {
		background: rgba(0, 0, 0, 0.5);
		border: 3px solid white;
	}
}
.cover-content {
	h1, h1 .brand-second {
		font-family: "proxima-nova-sc-osf-condensed", "Helvetica Neue", Helvetica, sans-serif;
	}
}
.brand-second {
	display: block;
	color: $cfa-pink;
}

.container {
	padding: 1em;
}

h2 + section {
	margin-left: 40px;
}
.page-header {
	border-bottom: none;

	.glyphicon {
		margin-right: 16px;
		font-size: 24px;
		color: #ddd;
	}
}
.page-subheader {
	font-size: 24px;
}
// Over qualified, I know, I feel like a terrible human being right now.
#whatisopendata {
	margin-top: 20px;
}

.petition {
	margin: 4rem auto 1rem;
	padding: 2em;
	border: 1px solid #ddd;
	background-color: #eee;

	h3 {
		margin-top: 0;
		margin-bottom: 1em;
		font: italic normal 1.5em serif;
		text-align: center;
	}

	div {
		margin-bottom: 1em;
		text-align: center;
	}

	a:last-of-type {
		display: block;
		font-size: .875em;
	}

	input {
		width: 100%;
		padding: 0.5em;
		border: 1px solid $cfa-blue;
		font: 1.25em/1.5em serif;

		&:first-of-type {
			border-bottom: 0;
		}
	}

	button {
		width: 100%;
		padding: 0.25em;
		border: 1px solid $cfa-blue;
		background-color: $cfa-blue;
		font: 1.25em/2em $font-sans-serif;
		color: white;
		text-align: center;
		vertical-align: top;
	}
}
.petition-yes {
	display: inline-block;
	margin-bottom: 0.25em;
	width: 100%;
	padding: 0.25em 0.75em;
	border: 3px solid $cfa-blue;
	background-color: white;
	font: 2em $font-sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: $cfa-blue;

	&:hover {
		background-color: $cfa-blue;
		color: white;
	}
}

.lang {
	position: absolute;
	right: 0;
	display: block;
	margin: 0.5em 1em;
	font-size: 85%;
}

@media screen and (min-width: 768px) {
	.brand-second {
		display: inline-block;
	}
	.petition {
		input {
			float: left;
			width: 50%;

			&:nth-child(even) {
				border-right: 0;
			}

			&:nth-of-type(1n),
			&:nth-of-type(2n) {
				border-bottom: 0;
			}

		}

		button {
			width: 100%;
		}
	}
	.petition-yes {
		width: 40%;
	}
}
