$cfa-blue: #399fd3
$cfa-pink: #cf1b41

@import "bootstrap"
@import "sidebar"
@import "style"

body
  position: relative /* For scrollspy */
  font-size: 16px

.cover
  background: $cfa-blue no-repeat center center
  @include gradient-directional(#399fd3 0%, #cf1b41 100%, -45deg)
  background-size: cover
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)

  height: 80vh
  margin-top: -20px
  text-align: center
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25em
  .cover-content
    display: inline-block
    vertical-align: middle
    width: 30em
    .miami
      display: inline-block
      color: $cfa-blue
      &::first-letter
        font-size: 2em
    .opendata
      display: inline-block
      color: $cfa-pink
      &::first-letter
        font-size: 2em

// Nav bar

.navbar
  min-height: 4em
.navbar-odp-brand
  @extend .navbar-brand
  font-size: 1.2em
  font-style: normal
  font-weight: 700
  text-transform: uppercase
  box-sizing: content-box
  padding-top: 2em
  height: none



.navbar-odp
  @extend .navbar-default
  background: #ffffff
  border: none
  .navbar-nav
    li
      a
        font-size: 1.2em
        font-style: normal
        font-weight: 700
        margin: 0
        text-transform: uppercase
        box-sizing: content-box
        padding-top: 2em
        padding-bottom: 2em

//buttons



.btn-odp-blue
  @extend .btn-default
  background: none

.btn-xl
  @include button-size(2em, 2.25em, $font-size-large, $line-height-large, $border-radius-large)



// Utilities

.pink
  color: $cfa-pink !important
.blue
  color: $cfa-blue !important