# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode

## Directory-based project format
.idea/

## File-based project format

*.ipr
*.iws
*.iml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.sass-cache

# Ignore windows thumb
Thumbs.db
thumbs.db
